<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="PPIJ" connectionString="Data Source=interactiveperiodictable.database.windows.net,1433;Initial Catalog=InteractivePeriodicTable;uid=PPiJ;pwd=botickijeveliki001." providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>